
<div fxLayout="row"  fxLayoutAlign="center center" (mouseover)="onMouseOver()" class="hover-container" (click)="refresh()"><button mat-button>hover & refresh</button></div>
<div fxLayout="row wrap"  fxLayoutAlign="center center">
	<mat-card *ngFor="let film of films" fxFlex="20" [ngStyle]="{'background-color': getColor(film.isFavorite)}">
		<h1>{{ film.title }} </h1>
		<h3>{{ film.release_date | date }}</h3>
		<div fxLayoutAlign="end center">
			<mat-icon aria-hidden="false" aria-label="Example home icon" (click)="toggle(film)" *ngIf="!film.isFavorite">favorite_border</mat-icon>
			<mat-icon aria-hidden="false" aria-label="Example home icon" (click)="toggle(film)"  *ngIf="film.isFavorite">favorite</mat-icon>
		</div>
	</mat-card>
</div>
