:host {
	display: block;
	height: 80px;
}

.toolbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	display: flex;
	align-items: center;
	background-color: #1976d2;
	color: white;
	font-weight: 600;
}

.toolbar img {
	margin: 0 16px;
}

.spacer {
	flex: 1;
}

a {
	&:visited,
	&:link {
		color: white;
		text-decoration: none;
	}
	display: block;
	margin-left: 20px;
	font-size: large;

	//selected menu item
	&.router-link-active {
		text-decoration: underline;

		&:hover {
			color: #44697d;
			background-color: #b9c9d0;
		}

		&:link {
			text-decoration: underline;
		}
	}
}
